.red{
    background-color: #e74c3c;
}

.blue{
    background-color: #2980b9;
}

.green{
    background-color: #16a085;
}

.yellow{
    background-color: #f1c40f;
}

.purple{
    background-color: #9b59b6;
}

.grey{
    background-color: #95a5a6;
}

.orange{
    background-color: #e67e22;
}

.pink{
    background-color: #ff9ff3;
}

.skyblue{
    background-color: #48dbfb;
}

.lime{
    background-color: #badc58;
}

.black{
    background-color: #2d3436;
}

.white{
    background-color: #ecf0f1;
}

.box {
    min-height: 200px;
}

.smallBox {
    height: 100px;
    width: 100px;
}

.fixedBox {
    position: fixed;
    top: 0;
    right: 0;
}

.relativeBox {
    position: relative;
    top: 20px;
    left: 50px;
}

.absoluteBox {
    position: absolute;
    bottom: 100px;
    left: 300px;
}

.relativeContainer {
    position: relative;
    height: 400px;
}

.stickyBox {
    position: sticky;
    top: 0;
}
